<!-- Exercise 1 -->
<div class="container">
  <h2>Exercise 1</h2>
  <div class="row">
    <div class="col-md-12">
      <h3>Tags, form_for, checkboxes</h3>
      <%= form_for @post do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field(:title, placeholder: "Title", class: 'form_control') %>
        </div>
        <br/>
        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area(:body, placeholder: "Message", class: 'form_control') %>
        </div>
        <br/>
        <div class="form-group">
          <h5>Tags</h5>
          <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |b| %>
            <%= b.label(class: "col-md-4") {b.check_box + " " + b.text} %>
          <% end %>
        </div>
        <br/>
        <br/>
        <%= f.submit "#{post.persisted? ? 'Edit Your Post': 'Create a Post'}", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<hr />
<hr/>

<!-- Exercise 2 -->
<div class="container">
  <h2>Exercise 2</h2>
  <div class="row">
    <div class="col-md-12">
      <h3>Category, form_for, radio buttons</h3>
      <%= form_for @post do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field(:title, placeholder: "Title", class: 'form_control') %>
        </div>
        <br/>
        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area(:body, placeholder: "Message", class: 'form_control') %>
        </div>
        <br/>
        <div class="form-group">
          <h5>Categories</h5>
          <%= f.collection_radio_buttons(:category_id, Category.all, :id, :name, {include_blank: :true}, class: 'form_control') do |r| %>
            <%= r.label(class: "col-md-4") {r.radio_button + " " + r.text} %>
          <% end %>
        </div>
        <br/>
        <br/>
        <%= f.submit "#{post.persisted? ? 'Edit Your Post': 'Create a Post'}", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  -----------------------------------------------------------------------------
  <div class-"row">
    <div class="col-md-12">
      <h3>Category, form_for, dropdown menu</h3>
      <%= form_for @post do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field(:title, placeholder: "Title", class: 'form_control') %>
        </div>
        <br/>
        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area(:body, placeholder: "Message", class: 'form_control') %>
        </div>
        <br/>
        <div class="form-group">
          <h5>Categories</h5>
          <%= f.collection_select(:category_id, Category.all, :id, :name) %>
        </div>
        <br/>
        <br/>
        <%= f.submit "#{post.persisted? ? 'Edit Your Post': 'Create a Post'}", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  -----------------------------------------------------------------------------
  <div class-"row">
    <div class="col-md-12">
      <h3>Category, form_tag and select tag, dropdown menu</h3>
      <%= form_tag @post do %>
        <div class="form-group">
          <%= label_tag 'title' %>
          <%= text_field_tag 'title', 'Title' %>
        </div>
        <br/>
        <div class="form-group">
          <%= label_tag 'body' %>
          <%= text_area_tag 'body', 'Message' %>
        </div>
        <br/>
        <div class="form-group">
          <h5>Categories</h5>
          <%= select_tag('post[category_id]', options_from_collection_for_select(Category.all, :id, :name), class: 'form-control', include_blank: true) %>
        </div>
        <br/>
        <br/>
        <%= submit_tag(post.persisted? ? 'Edit Your Post' : 'Create a Post', class: "btn btn-primary") %>
      <% end %>
    </div>
  </div>
</div>
<hr/>
<hr/>
<!--Exercise 3 -->
<div class="container">
  <h2>Exercise 3</h2>
  <div class="row">
    <div class="col-md-12">
      <h3>Tags, form_for, combo box</h3>
      <%= form_for @post do |post_fields| %>
        <div class="form-group">
          <%= post_fields.label :title %>
          <%= post_fields.text_field(:title, placeholder: "Title", class: 'form_control') %>
        </div>
        <br/>
        <div class="form-group">
          <%= post_fields.label :body %>
          <%= post_fields.text_area(:body, placeholder: "Message", class: 'form_control') %>
        </div>
        <br/>
        <div class="form-group">
          <h5>Tags</h5>
          <%= post_fields.collection_select(:tag_ids, Tag.all, :id, :name, {include_blank: true}, {class: 'form-control', multiple: true}) %>
        </div>
        <br/>
        <br/>
        <div class="form-group">
          <%= render partial: "comment_fields", locals: {post_fields: post_fields } %>
        </div>
        <%= post_fields.submit "#{post.persisted? ? 'Edit Your Post': 'Create a Post'}", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<hr/>
